.cardinfo--general{
    padding: 2em;
    border-radius: 2px;
    max-width: 800px;
    text-align: center;
    display: block;
    background-color:  #062226;
    border-radius: 2em;
    border-style: double;
    box-shadow: 6px 6px 6px 8px rgba(0, 0, 0, 0.2);
}
.name--info--general{
    text-align: center;
    color: #03B0EC;
    width: 100%;
    margin-bottom: 1em;
}
.info--ul--general{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}
.info--dropdown{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}